<div class="container">
    <h1 class="text-center">App Component</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center" (click)="[count= count-1]">
                <h4>
                    Prev Component
                </h4>
                <p>
                    <strong> {{count-1}} </strong>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <h4>
                    Current Component
                </h4>
                <p>
                    <strong>{{count}} </strong>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" (click)="[count=count+1]">
                <h4>
                    Next Component
                </h4>
                <p>
                    <strong> {{count+1}} </strong>
                </p>
            </div>
        </div>
    </div>
</div>
