.container {
    border: 2px solid black;
    padding: 20px;
    position: relative;
    top: 200px;
}
.card {
    cursor: pointer;
    border: 2px solid black;
}
p {
    font-weight: 600;
    font-size: large;
}